<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <label class="form-label" for="content">Content</label>
        <input name="content" type="text" value="{{post.content}}" class="form-input" />
        <button type="submit" class="btn">Update Post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>

<form class="comment-form">
</form>

{{> comments post.comments}}


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>